// grid variables
$grid-columns: 12;
$mobile: 480px;
$tablet: 780px;
$desktop: 1200px;

$width: 80%;
$gutter: 20%;

// Wide Screen
@media screen and (min-width: $desktop + 1) {
  @for $i from 1 through $grid-columns {
    .col-xl-#{$i} {
      width: ($width/$grid-columns)*$i + ($gutter/$grid-columns*($i - 1));
    }
  }
}
// Desktop
@media screen and (min-width: $tablet + 1) and (max-width: $desktop ){
  @for $i from 1 through $grid-columns {
    .col-l-#{$i} {
      width: ($width/$grid-columns)*$i + ($gutter/$grid-columns*($i - 1));
    }
  }
}
// Tablet
@media screen and (min-width: $mobile + 1) and (max-width: $tablet){
  @for $i from 1 through $grid-columns {
    .col-m-#{$i} {
      width: ($width/$grid-columns)*$i + ($gutter/$grid-columns*($i - 1));
    }
  }
}
// Mobile
@media screen and (max-width: $mobile ){
  @for $i from 1 through $grid-columns {
    .col-s-#{$i} {
      width: ($width/$grid-columns)*$i + ($gutter/$grid-columns*($i - 1));
    }
  }
}

// push
@for $i from 1 through $grid-columns {
  .push-#{$i} {
    margin-left: ($width + $gutter)/$grid-columns*$i;
  }
}
// pull
@for $i from 1 through $grid-columns {
  .pull-#{$i} {
    margin-right: ($width + $gutter)/$grid-columns*$i;
  }
}

.wrapper {
  // width: 95%;
  max-width: $desktop;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.flex-grid {
  display: flex;
  justify-content: space-around;
  & {
    text-align: center;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  & {
    text-align: center;
  }
}
